body {
    background-color: #f8f9fa;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-body {
    padding: 2rem;
}

.btn-primary {
    background-color: #4e73df;
    border-color: #4e73df;
}

.btn-primary:hover {
    background-color: #2e59d9;
    border-color: #2e59d9;
}

.btn-outline-secondary:hover {
    background-color: #858796;
    border-color: #858796;
} 